html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 130rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1.2rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #495057;
}

.page-header {
  color: #495057;
}

.header-toolbar {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
}

.page-navigation {
  display: flex;
  align-items: center;
  gap: 1.8rem;
}

.page-navigation a:link,
.page-navigation a:visited {
  text-decoration: none;
  color: #495057;
}

.page-navigation a:hover,
.page-navigation a:active {
  color: #343a40;
}

.header-content {
  height: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4.4rem;
  font-weight: 600;
}

.section-personalinfo {
  height: 50rem;
  /* background-color: aquamarine; */
  padding: 2.4rem 0;
  display: grid;
  gap: 4.8rem;
  grid-template-columns: 1fr 2fr 1.5fr;
  grid-template-rows: 1fr;
}

.tertiary-heading {
  text-align: left;
  font-size: 1.8rem;
  font-weight: 500;
}

.margin-bottom {
  margin-bottom: 1.8rem;
}

.project-items {
  list-style: none;
}

.project-items li:last-child {
  border-bottom: none;
}

.project-item {
  font-size: 1.4rem;
  padding: 1.6rem 0;
  border-bottom: 2px solid #495057;
}

.experience {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.experience-item {
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.experience-item a:link,
.experience-item a:visited {
  text-decoration: none;
  color: #339af0;
}

.experience-item a:hover,
.experience-item a:active {
  color: #228be6;
}

.company-name {
  font-weight: 500;
}

.experience-summary {
  line-height: 1.8;
  text-align: justify;
}

.education {
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.education-text {
  line-height: 1.8;
  text-align: justify;
}

.courses {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.courses ul {
  list-style-position: outside;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding-left: 1.5rem;
}

.courses ul li {
  word-wrap: break-word;
}
