html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 130rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1.2rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.page-header {
  color: #495057;
}

.header-toolbar {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
}

.page-navigation {
  display: flex;
  align-items: center;
  gap: 1.8rem;
}

.page-navigation a:link,
.page-navigation a:visited {
  text-decoration: none;
  color: #495057;
}

.page-navigation a:hover,
.page-navigation a:active {
  color: #343a40;
}

.header-content {
  height: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4.4rem;
  font-weight: 600;
}

.section-personalinfo {
  height: 50rem;
  background-color: aquamarine;
  padding: 4.8rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
}

.tertiary-heading {
  text-align: left;
  font-size: 1.8rem;
  font-weight: 500;
}
